<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vos avis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% include 'couleurs.html' %}
</head>
<body>
    <div class="container">
        {% include 'menu.html' %}

        <main class="main-content">
            <h1>Vos avis</h1>
            <h5>Envoie moi un commentaire</h5>
        <form class="form" method="post">
            <input type="text" id="nom" name="nom" placeholder="Entre ton nom">
            <input type="text" id="jeu_joue" name="jeu_joue" placeholder="Entre le nom du jeu auquel tu as joué">
            <input type="text" id="avis" name="avis" placeholder="Entre ton avis du jeu et ce qui pourrais l'améliorer">
            <button type="submit" id="soumettre" name="soumettre">Soumettre</button>
            <button type="submit" id="renvoyer" name="renvoyer">Renvoyer un commentaire</button>
            <h4>{{remerciment}}</h4>
        </form>
        </main>
    </div>
</body>
</html>
