<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculatrice</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Ajouter deux chiffres</h1>
        <form method="post">
            <b>Premier chiffre :</b>
            <input type="text" id="num1" name="num1" value="{{ num1_html }}" required>
            <br><br>
            <u>Deuxième chiffre :</u>
            <input type="text" id="num2" name="num2" value="{{ num2_html }}" required>
            <br><br>
            <button type="submit" id="calculer" name="calculer">Calculer</button>
            <button type="submit" id="effacer" name="effacer">Effacer</button>
        </form>
        <div id="texte">
            <p style="color: green; font-weight: bold;">{{ message_html }}{{ result_html }}</p>
            <p style="color: red; font-weight: bold;">{{ erreur_html }}</p>
        </div>
    </body>
</html>
