<style>
    .sidebar {
        background-color: {{couleur_bouton}};
    }
    .form button {
        background-color: {{couleur_bouton}};
    }
    .form button:hover {
        background-color: #a6a6a6;
    }
    .sidebar ul li a:hover {
        background-color: #a6a6a6;
    }
</style>


<script>
    function menu_click() {
        const sidebar = document.querySelector(".sidebar_detail");
        const isActive = sidebar.style.display;
        if (isActive == "none") {
            sidebar.style.display = "block"; // Empêche le scroll quand le menu est ouvert
        } else {
            sidebar.style.display = "none"; // Rétablit le scroll
        }
    }
</script>