<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeux de Jules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% include 'couleurs.html' %}
    </head>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const menuToggle = document.querySelector(".menu-toggle");
            const sidebar = document.querySelector(".sidebar");

            menuToggle.addEventListener("click", function() {
                sidebar.classList.toggle("active");
            });
        });
    </script>
    <body>
        <div class="container">
            {% include 'menu.html' %}

            <main class="main-content">
                <h1>🎮 Les Jeux de Jules 🎮</h1>
                <h5>En cours de création : "Jeu RPG", "Devine le bon drapeau" et "Occupe toi des animaux"</h5>
            </main>
        </div>
    </body>
</html>
