<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeux de Jules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% include 'couleurs.html' %}
    </head>
    <body>
        <div class="container">
            {% include 'menu.html' %}

            <main class="main-content">
<!--                <h1>🎮 Les Jeux de Jules 🎮</h1>-->
                    <h1>Coucou, je suis en train de regarder quelque chose sur le code que je fais donc je te montrerai quans on se reverra. 😉 (désolé pour les fautes 😂)</h1>

            </main>
        </div>
    </body>
</html>
