<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jeux de Jules</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <aside class="sidebar">
                <h2>Menu</h2>
                <ul>
                    <li><a href="/calculatrice">Calculatrice</a></li>
                    <li><a href="/traduction">Traduction</a></li>
                    <li><a href="/kill_session">Quitter</a></li>
                </ul>
            </aside>

            <main class="main-content">
                <h1>Jeux de Jules</h1>

            </main>
        </div>
    </body>
</html>
