<aside class="sidebar">
    <h2>Menu</h2>
    <ul>
        <li><a href="/pendu">Pendu</a></li>
        <li><a href="/calculatrice">Calculatrice</a></li>
        <li><a href="/traduction">Traduction</a></li>
        <li><a href="/simon_says">Simon Says</a></li>
        <li><a href="/pierre_feuille_ciseaux">Pierre Feuille Ciseaux</a></li>
        <li><a href="/jeu_rpg">Jeu RPG</a></li>
        <li><a href="/jeu_animaux">Occupe toi des animaux</a></li>
        <li><a href="/jeu_drapeau">Devine le bon drapeau</a></li>
        <li><a href="/avis">Vos avis</a></li>
        <li><a href="/parametres">Paramètres</a></li>
        <li><a href="/accueil">Accueil</a></li>
    </ul>
</aside>